.section {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  /* margin: 0 2rem; */
}

h1 {
  margin: 3rem;
}

p {
  margin: 0 1rem;
  padding-bottom: 2rem;
  font-size: 24px;
}

.subtext {
  font-size: 16px;
}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-text {
  margin-top: 1rem;
}

.links {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}

div > li {
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .section {
    grid-template-columns: 80vw;
  }

  .links > a {
    margin: 0.5rem;
  }

  h3 {
    font-size: 2rem;
  }
}
