.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

p {
  margin-bottom: 0;
}

.subtext {
  font-size: 1rem;
  padding-bottom: 2rem;
}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
