.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

h1 {
  margin: 3rem;
}

p {
  margin: 0 1rem;
  padding-bottom: 2rem;
  font-size: 24px;
}

.subtext {
  font-size: 16px;
}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
