.note {
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  background: rgba(34, 139, 230, .15);
  border-radius: 1rem;
  width: 80%;
  margin: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.separater {
  display: flex;
}

.icon {
  line-height: 1;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 1rem;
  margin-top: 1.3rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 700;
  text-overflow: ellipsis;
  color: #74c0fc;
}

.content {
  display: flex;
  margin-bottom: 1rem;
  font-size: 16px;
  text-align: left;
}
